    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: portfolio
      namespace: devops
      labels:
        app: portfolio
    spec:
      replicas: 2
      selector:
        matchLabels:
          app: portfolio
      template:
        metadata:
          labels:
            app: portfolio
        spec:
          containers:
          - name: nginx
            image: nginx # Use the image name you built
            imagePullPolicy: IfNotPresent # Important for local images not in a public registry
            ports:
            - containerPort: 80
            resources:
              limits:
                memory: "128Mi"
                cpu: "500m"
              requests:
                memory: "64Mi"
                cpu: "250m"
            volumeMounts:
            - mountPath: "/usr/share/nginx/html"
              name: portfolio-volume
          volumes:
          - name: portfolio-volume
            persistentVolumeClaim:
              claimName: portfolio-pvc
